@import '../../common/scss/default.scss';


.modal-wrapper {
    display: inline-block;
    position: absolute;
    top: -4px;
    padding-left: 5px;
    cursor: pointer;
}


img.modal-trigger {
    display: block;

    &:hover {
        border-bottom:1px solid $green;
        // box-shadow: 0 0 5px #719ECE;
    }
}

.Modal {
    position: absolute;
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    flex-direction: column;
    border-radius: 8px;
    border:none;
    padding: 1em;
    display: flex;
    align-items: center;
    animation-name: modalFade;
    animation-duration: .3s;
    opacity: 0.9;
  }

  @keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 0.95;}
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    background-color: #331032;
    color: white;
   
  }
  .btn2 {
    margin-left: 80px;
  }
  
  .buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 10px;
  left: 0%;
  width: 100%;
  }
  .single-button {
    width: 100%;
    position: relative;
    bottom: 10px;
    left: 7%;
    margin-left: 0px;
  }
  