<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <table style="width:100%; border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th style="text-align: left;">URL</th>
        <th style="text-align: left;">Method</th>
        <th style="text-align: left;">Body</th>
        <th style="text-align: left;">Response</th>
    </tr>
    <tr style="border: 1px solid black;">
        <td>/v1</td>
        <td>Get</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr style="border: 1px solid black;">
        <td>/v1/landing-page/forecast</td>
        <td>Post</td>
        <td>Tulossa...</td>
        <td>Tulossa...</td>
    </tr>
    </table>
  </body>
</html>