@import '../../common/scss/default.scss';

// Container for cards.
.card-container {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

// Custom card styles to override Bootstrap's card component styles.
.card-cst {
	background-color: $white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	height: auto;
	width: 260px;
	margin: 20px;

	// @include respond('large') {
	// 	width: 320px;
	// 	height: auto;
	// 	margin: 25px;
	// }

	// @include respond('xs-small') {
	// 	margin: 12.5px;
	// }

	hr {
		border-color: $dark-blue;
		border-width: 3px;
		width: 45px;
	}

	h1 {
		font-size: 62px !important;
        margin-bottom: 0.1em;
        color: $dark-blue !important;
	}

	h2 {
        padding-top: 25px;
        color: $dark-blue !important;
        padding-left: 0px !important;
        text-align: center;
	}

	span {
		color: $dark-blue;
		font-size: 16px;
		opacity: 0.5;
	}

	p {
		padding: 0 25px;

		// @include respond('large') {
		// 	padding: 0 40px;
		// }

		.small {
			font-size: 0.8em !important;
			opacity: 0.70 !important;
		}
	}

	p.time {
		color: $baby-blue;
	}

	> button {
		width: 100%;
		// border-top-left-radius: 15px;
		// border-top-right-radius: 15px;
		// border-bottom-right-radius: 25px;
		// border-bottom-right-radius: 25px;
		border-radius: 25px;
		margin-top: 20px;
		letter-spacing: 1.92px !important;

		&.secondary {
			background-color: $bgc;
		}
	}

	
}
