@import '../../common/scss/default.scss';

.page-container {
    padding-top: 15px;
    padding-left: 7px;
}

 
.breadcrumbs {
    height: 16px;
    color: #7B7B7B;
    font-family: "Sitka Small";
    font-size: 16px;
    line-height: 16px;
  }