.button-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	justify-content: center;

	// @include respond('large') {
	// 	width: 30vw;
	// }

	// @include respond('lt-large') {
	// 	flex-wrap: wrap;
	// 	width: 50vw;
	// }

	// @include respond('small') {
	// 	flex-wrap: wrap;
	// 	width: 80vw;
	// }
}

.button {
	border: 0;
	border-radius: 25px;
	padding: 10px;
	width: 100%;
	margin-top: 6px;
	margin-right: 5px;
	max-width: 185px;
	cursor: pointer;
	
	&__primary {
		display: inline-block;
		color: $white;
		background-color: $green;
		text-align: center;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	&__secondary {
		display: inline-block;
		color: $white;
		background-color: $dark-blue;
		text-align: center;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	&__login {
		display: inline-block;
		color: $white;
		background: rgba(155, 157, 177, 0.3) 0% 0% no-repeat padding-box;
		text-align: center;
		width: 302px;

		&:hover {
			color: $light-white;
			text-decoration: none;
		}

		// @include respond('large') {
		// 	width: 100%;
		// }

		// @include respond('medium') {
		// 	width: 100%;
		// }
	}

	&__register {
		background-color: $green;
		color: $white;
		width: 302px;

		&:hover {
			color: $light-white;
			text-decoration: none;
		}

		// @include respond('large') {
		// 	width: 100%;
		// }

		// @include respond('medium') {
		// 	width: 100%;
		// }

		// @include respond('small') {
		// 	width: 100%;
		// }
	}
	&__return {
		background-color: #31194B;
		border: 1px solid #533475;
		color: $white;
		width: 302px;

		&:hover {
			color: $light-white;
			text-decoration: none;
		}

		// @include respond('large') {
		// 	width: 100%;
		// }

		// @include respond('medium') {
		// 	width: 100%;
		// }

		// @include respond('small') {
		// 	width: 100%;
		// }
	}
}
