$black: #03002a;
$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.65);
$white_01: rgba(255, 255, 255, 0.1);
$green: #00c45b;
$green2: #00E168;
$text-blue: #08006a;
$sea-blue: #0ea3f9;
$baby-blue: #889beb;
$dark-blue: #08006a;
$light-purple: #b9b7f0;
$pink: #f1d6f5;
$bgc: #03002A;
$innerBgc: #15123B;
$innerBgc2: #1D1A40;
$innerBgc2_55: rgba(29, 26, 64, 0.55);
$innerBgc2_75: rgba(29, 26, 64, 0.75);
$fieldBgc: #2d2a4f;
$white_77: rgba(255, 255, 255, 0.77);
$white_75: rgba(255, 255, 255, 0.77);
$white_60: rgba(255, 255, 255, 0.60);
$white_30: rgba(255, 255, 255, 0.30);
$white_10: rgba(255, 255, 255, 0.10);
